@import 'tailwindcss';
@config "../../tailwind.config.js";

@theme {
	/*Light mode colors*/
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(98% 0 0);
	--color-base-300: oklch(95% 0 0);
	--color-base-content: oklch(21% 0.006 285.885);

	--color-primary: oklch(0.55 0.2455 262.87);
	--color-primary-content: oklch(0.97 0.025 262.87);

	--color-secondary: oklch(0.69 0.1608 304.78);
	--color-secondary-content: oklch(0.95 0.02 304.78);

	--color-accent: oklch(77% 0.152 181.912);
	--color-accent-content: oklch(38% 0.063 188.416);

	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(98% 0.004 286.32);

	--color-info: oklch(74% 0.16 232.661);
	--color-info-content: oklch(29% 0.066 243.157);

	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(37% 0.077 168.94);

	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(41% 0.112 45.904);

	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(27% 0.105 12.094);

	/*Custom shadow*/
	--shadow-c2xs: 0 0 1px rgb(0 0 0 / 0.05);
	--shadow-cxs: 0 0 2px rgb(0 0 0 / 0.05);
	--shadow-csm: 0 0 3px rgb(0 0 0 / 0.1), 0 0 2px rgb(0 0 0 / 0.1);
	--shadow-cmd: 0 0 6px rgb(0 0 0 / 0.1), 0 0 4px rgb(0 0 0 / 0.1);
	--shadow-clg: 0 0 15px rgb(0 0 0 / 0.1), 0 0 6px rgb(0 0 0 / 0.1);
	--shadow-cxl: 0 0 25px rgb(0 0 0 / 0.1), 0 0 10px rgb(0 0 0 / 0.1);
	--shadow-c2xl: 0 0 50px rgb(0 0 0 / 0.25);
}

@layer theme {
	.dark {
		/*Dark mode colors*/
		--color-base-100: oklch(25.33% 0.016 252.42);
		--color-base-200: oklch(23.26% 0.014 253.1);
		--color-base-300: oklch(21.15% 0.012 254.09);
		--color-base-content: oklch(97.807% 0.029 256.847);

		--color-primary: oklch(0.45 0.2455 262.87);
		--color-primary-content: oklch(0.97 0.015 262.87);

		--color-secondary: oklch(0.55 0.1608 304.78);
		--color-secondary-content: oklch(0.95 0.015 304.78); 

		--color-accent: oklch(77% 0.152 181.912);
		--color-accent-content: oklch(38% 0.063 188.416);

		--color-neutral: oklch(14% 0.005 285.823);
		--color-neutral-content: oklch(99% 0.004 286.32);

		--color-info: oklch(74% 0.16 232.661);
		--color-info-content: oklch(29% 0.066 243.157);

		--color-success: oklch(76% 0.177 163.223);
		--color-success-content: oklch(37% 0.077 168.94);

		--color-warning: oklch(82% 0.189 84.429);
		--color-warning-content: oklch(41% 0.112 45.904);

		--color-error: oklch(71% 0.194 13.428);
		--color-error-content: oklch(27% 0.105 12.094);
	}
}

@utility animation-delay-200 {
	animation-delay: 200ms;
}

@utility animation-delay-400 {
	animation-delay: 400ms;
}

@utility animation-delay-600 {
	animation-delay: 600ms;
}

@utility animation-delay-800 {
	animation-delay: 800ms;
}

@utility flex-center {
	@apply flex items-center justify-center;
}

#root {
	background-color: var(--color-base-200);
}
