@tailwind base;

@layer base {
	html {
		@apply font-poppins;
	}
	:root {
		--radius: 0.5rem;
	}
}

@tailwind components;
@tailwind utilities;

html {
	height: 100vh;
	width: 100vw;
}

html *::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

html *::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.2);
}

html.dark *::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.3);
}

html *::-webkit-scrollbar-track {
	background-color: transparent;
}

body {
	@apply h-full w-full;
}

#root {
	@apply h-full w-full;
}
