@import 'tailwindcss';
@config "../../tailwind.config.js";

@theme {
	/*Default Tailwind Color*/
	--color-emerald-50: oklch(0.979 0.021 166.113);
	--color-emerald-100: oklch(0.95 0.052 163.051);
	--color-emerald-200: oklch(0.905 0.093 164.15);
	--color-emerald-300: oklch(0.845 0.143 164.978);
	--color-emerald-400: oklch(0.765 0.177 163.223);
	--color-emerald-500: oklch(0.696 0.17 162.48);
	--color-emerald-600: oklch(0.596 0.145 163.225);
	--color-emerald-700: oklch(0.508 0.118 165.612);
	--color-emerald-800: oklch(0.432 0.095 166.913);
	--color-emerald-900: oklch(0.378 0.077 168.94);
	--color-emerald-950: oklch(0.262 0.051 172.552);

	--color-sky-50: oklch(0.977 0.013 236.62);
	--color-sky-100: oklch(0.951 0.026 236.824);
	--color-sky-200: oklch(0.901 0.058 230.902);
	--color-sky-300: oklch(0.828 0.111 230.318);
	--color-sky-400: oklch(0.746 0.16 232.661);
	--color-sky-500: oklch(0.685 0.169 237.323);
	--color-sky-600: oklch(0.588 0.158 241.966);
	--color-sky-700: oklch(0.5 0.134 242.749);
	--color-sky-800: oklch(0.443 0.11 240.79);
	--color-sky-900: oklch(0.391 0.09 240.876);
	--color-sky-950: oklch(0.293 0.066 243.157);

	--color-violet-50: oklch(0.969 0.016 293.756);
	--color-violet-100: oklch(0.943 0.029 294.588);
	--color-violet-200: oklch(0.894 0.057 293.283);
	--color-violet-300: oklch(0.811 0.111 293.571);
	--color-violet-400: oklch(0.702 0.183 293.541);
	--color-violet-500: oklch(0.606 0.25 292.717);
	--color-violet-600: oklch(0.541 0.281 293.009);
	--color-violet-700: oklch(0.491 0.27 292.581);
	--color-violet-800: oklch(0.432 0.232 292.759);
	--color-violet-900: oklch(0.38 0.189 293.745);
	--color-violet-950: oklch(0.283 0.141 291.089);

	--color-fuchsia-50: oklch(0.977 0.017 320.058);
	--color-fuchsia-100: oklch(0.952 0.037 318.852);
	--color-fuchsia-200: oklch(0.903 0.076 319.62);
	--color-fuchsia-300: oklch(0.833 0.145 321.434);
	--color-fuchsia-400: oklch(0.74 0.238 322.16);
	--color-fuchsia-500: oklch(0.667 0.295 322.15);
	--color-fuchsia-600: oklch(0.591 0.293 322.896);
	--color-fuchsia-700: oklch(0.518 0.253 323.949);
	--color-fuchsia-800: oklch(0.452 0.211 324.591);
	--color-fuchsia-900: oklch(0.401 0.17 325.612);
	--color-fuchsia-950: oklch(0.293 0.136 325.661);

	--color-rose-50: oklch(0.969 0.015 12.422);
	--color-rose-100: oklch(0.941 0.03 12.58);
	--color-rose-200: oklch(0.892 0.058 10.001);
	--color-rose-300: oklch(0.81 0.117 11.638);
	--color-rose-400: oklch(0.712 0.194 13.428);
	--color-rose-500: oklch(0.645 0.246 16.439);
	--color-rose-600: oklch(0.586 0.253 17.585);
	--color-rose-700: oklch(0.514 0.222 16.935);
	--color-rose-800: oklch(0.455 0.188 13.697);
	--color-rose-900: oklch(0.41 0.159 10.272);
	--color-rose-950: oklch(0.271 0.105 12.094);

	--color-slate-50: oklch(0.984 0.003 247.858);
	--color-slate-100: oklch(0.968 0.007 247.896);
	--color-slate-200: oklch(0.929 0.013 255.508);
	--color-slate-300: oklch(0.869 0.022 252.894);
	--color-slate-400: oklch(0.704 0.04 256.788);
	--color-slate-500: oklch(0.554 0.046 257.417);
	--color-slate-600: oklch(0.446 0.043 257.281);
	--color-slate-700: oklch(0.372 0.044 257.287);
	--color-slate-800: oklch(0.279 0.041 260.031);
	--color-slate-900: oklch(0.208 0.042 265.755);
	--color-slate-950: oklch(0.129 0.042 264.695);

	--color-zinc-50: oklch(0.985 0 0);
	--color-zinc-100: oklch(0.967 0.001 286.375);
	--color-zinc-200: oklch(0.92 0.004 286.32);
	--color-zinc-300: oklch(0.871 0.006 286.286);
	--color-zinc-400: oklch(0.705 0.015 286.067);
	--color-zinc-500: oklch(0.552 0.016 285.938);
	--color-zinc-600: oklch(0.442 0.017 285.786);
	--color-zinc-700: oklch(0.37 0.013 285.805);
	--color-zinc-800: oklch(0.274 0.006 286.033);
	--color-zinc-900: oklch(0.21 0.006 285.885);
	--color-zinc-950: oklch(0.141 0.005 285.823);
	--color-neutral-50: oklch(0.985 0 0);
	--color-neutral-100: oklch(0.97 0 0);
	--color-neutral-200: oklch(0.922 0 0);
	--color-neutral-300: oklch(0.87 0 0);
	--color-neutral-400: oklch(0.708 0 0);
	--color-neutral-500: oklch(0.556 0 0);
	--color-neutral-600: oklch(0.439 0 0);
	--color-neutral-700: oklch(0.371 0 0);
	--color-neutral-800: oklch(0.269 0 0);
	--color-neutral-900: oklch(0.205 0 0);
	--color-neutral-950: oklch(0.145 0 0);
	--color-stone-50: oklch(0.985 0.001 106.423);
	--color-stone-100: oklch(0.97 0.001 106.424);
	--color-stone-200: oklch(0.923 0.003 48.717);
	--color-stone-300: oklch(0.869 0.005 56.366);
	--color-stone-400: oklch(0.709 0.01 56.259);
	--color-stone-500: oklch(0.553 0.013 58.071);
	--color-stone-600: oklch(0.444 0.011 73.639);
	--color-stone-700: oklch(0.374 0.01 67.558);
	--color-stone-800: oklch(0.268 0.007 34.298);
	--color-stone-900: oklch(0.216 0.006 56.043);
	--color-stone-950: oklch(0.147 0.004 49.25);

	/*Light mode colors*/
	--color-base-100: oklch(100% 0.0053 286.3);
	--color-base-200: oklch(97% 0.0053 286.3);
	--color-base-300: oklch(96% 0.0053 286.3);
	--color-base-content: oklch(21% 0.0053 286.3);

	--color-primary: oklch(0.69 0.1608 304.78);
	--color-primary-content: oklch(0.95 0.02 304.78);

	--color-secondary: oklch(0.693 0.2 256.72);
	--color-secondary-content: oklch(0.98 0.01 256.72);

	--color-accent: oklch(77% 0.152 181.912);
	--color-accent-content: oklch(38% 0.063 188.416);

	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(92% 0.004 286.32);

	--color-info: oklch(74% 0.16 232.661);
	--color-info-content: oklch(49% 0.166 243.157);

	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(57% 0.277 168.94);

	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(61% 0.212 45.904);

	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(47% 0.105 12.094);

	--color-shadow-color: oklch(0.3 0.0317 248.91);

	/*Custom shadow*/
	--shadow-c2xs: 0 0 1px oklch(0.3 0.0317 248.91 / 0.05);
	--shadow-cxs: 0 0 2px oklch(0.3 0.0317 248.91 / 0.05);
	--shadow-csm: 0 0 3px oklch(0.3 0.0317 248.91 / 0.08);
	--shadow-cmd: 0 0 6px oklch(0.3 0.0317 248.91 / 0.08);
	--shadow-clg: 0 0 15px oklch(0.3 0.0317 248.91 / 0.1), 0 0 6px oklch(0.3 0.0317 248.91 / 0.1);
	--shadow-cxl: 0 0 25px oklch(0.3 0.0317 248.91 / 0.1), 0 0 10px oklch(0.3 0.0317 248.91 / 0.1);
	--shadow-c2xl: 0 0 50px oklch(0.3 0.0317 248.91 / 0.25);
}

@layer theme {
	.dark {
		/*Dark mode colors*/
		--color-base-100: oklch(25.33% 0.016 252.42);
		--color-base-200: oklch(23.26% 0.014 253.1);
		--color-base-300: oklch(21.15% 0.012 254.09);
		--color-base-content: oklch(97.807% 0.029 256.847);

		--color-primary: oklch(58% 0.233 277.117);
		--color-primary-content: oklch(96% 0.018 272.314);

		--color-secondary: oklch(65% 0.241 354.308);
		--color-secondary-content: oklch(94% 0.028 342.258);

		--color-accent: oklch(77% 0.152 181.912);
		--color-accent-content: oklch(38% 0.063 188.416);

		--color-neutral: oklch(14% 0.005 285.823);
		--color-neutral-content: oklch(100% 0.004 286.32);

		--color-info: oklch(74% 0.16 232.661);
		--color-info-content: oklch(84% 0.266 243.157);

		--color-success: oklch(76% 0.177 163.223);
		--color-success-content: oklch(86% 0.277 168.94);

		--color-warning: oklch(82% 0.189 84.429);
		--color-warning-content: oklch(92% 0.242 45.904);

		--color-error: oklch(71% 0.194 13.428);
		--color-error-content: oklch(81% 0.305 12.094);
	}
}

@utility animation-delay-200 {
	animation-delay: 200ms;
}

@utility animation-delay-400 {
	animation-delay: 400ms;
}

@utility animation-delay-600 {
	animation-delay: 600ms;
}

@utility animation-delay-800 {
	animation-delay: 800ms;
}

@utility flex-center {
	@apply flex items-center justify-center;
}

@utility skeleton {
	@apply bg-base-content/15 animate-pulse;
}

@utility skeleton-variant {
	@apply bg-base-content/10 animate-pulse;
}

@utility card-scrollbar {
	@apply [&::-webkit-scrollbar-thumb]:bg-base-content/20 max-h-100 overflow-y-auto [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar]:w-2;
}

html {
	font-family: 'Lato', sans-serif;
}

#root {
	background-color: var(--color-base-200);
}
