@import 'tailwindcss';
@import 'tw-animate-css';

@import './_variables.scss';
@import './_keyframe-animations.scss';

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.625rem;
	--background: oklch(0.985 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.623 0.214 259.815);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.68 0.246 16.439);
	--success: oklch(76% 0.177 163.223);
	--warning: oklch(82% 0.189 84.429);
	--info: oklch(74% 0.16 232.661);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.81 0.1 252);
	--chart-2: oklch(0.62 0.19 260);
	--chart-3: oklch(0.55 0.22 263);
	--chart-4: oklch(0.49 0.22 264);
	--chart-5: oklch(0.42 0.18 266);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
	--hu-font-geist: var(--font-geist);
	--hu-font-jetbrains: var(--font-jetbrains-mono);
	--card-radius: 1rem;
	--hu-background: hsl(0, 0%, 100%);
	--hu-foreground: hsl(0, 0%, 14%);
	--hu-card: hsl(0, 0%, 99%);
	--hu-card-foreground: hsl(0, 0%, 14%);
	--hu-primary: hsl(235, 100%, 60%);
	--hu-primary-foreground: hsl(0, 0%, 98%);
	--hu-secondary: hsl(0, 0%, 97%);
	--hu-secondary-foreground: hsl(0, 0%, 20%);
	--hu-muted: hsl(0, 0%, 97%);
	--hu-muted-foreground: hsl(0, 0%, 56%);
	--hu-accent: hsl(0, 0%, 96%);
	--hu-accent-foreground: hsl(0, 0%, 20%);
	--hu-destructive: hsl(9, 96%, 47%);
	--hu-destructive-foreground: hsl(0, 0%, 98%);
	--hu-border: hsl(0, 0%, 92%);
	--hu-input: hsl(0, 0%, 100%);
	--hu-ring: hsl(0, 0%, 71%);
	--color-fd-background: hsl(var(--hu-background));
	--color-fd-card: hsl(var(--hu-background));
}

.dark {
	--background: oklch(0.2223 0.006 271.1393);
	--foreground: oklch(0.9551 0 0);
	--card: oklch(0.2568 0.0076 274.6528);
	--card-foreground: oklch(0.9551 0 0);
	--popover: oklch(0.2568 0.0076 274.6528);
	--popover-foreground: oklch(0.9551 0 0);
	--primary: oklch(0.623 0.214 259.815);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.294 0.013 272.9312);
	--secondary-foreground: oklch(0.9551 0 0);
	--muted: oklch(0.294 0.013 272.9312);
	--muted-foreground: oklch(0.7058 0 0);
	--accent: oklch(0.2795 0.0368 260.031);
	--accent-foreground: oklch(0.7857 0.1153 246.6596);
	--destructive: oklch(0.7106 0.1661 22.2162);
	--destructive-foreground: oklch(1 0 0);
	--success: oklch(76% 0.177 163.223);
	--warning: oklch(82% 0.189 84.429);
	--info: oklch(74% 0.16 232.661);
	--border: oklch(0.3289 0.0092 268.3843);
	--input: oklch(0.3289 0.0092 268.3843);
	--ring: oklch(0.623 0.214 259.815);
	--chart-1: oklch(0.8003 0.1821 151.711);
	--chart-2: oklch(0.6132 0.2294 291.7437);
	--chart-3: oklch(0.8077 0.1035 19.5706);
	--chart-4: oklch(0.6691 0.1569 260.1063);
	--chart-5: oklch(0.7058 0 0);
	--sidebar: oklch(0.2011 0.0039 286.0396);
	--sidebar-foreground: oklch(0.9551 0 0);
	--sidebar-primary: oklch(0.623 0.214 259.815);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.294 0.013 272.9312);
	--sidebar-accent-foreground: oklch(0.623 0.214 259.815);
	--sidebar-border: oklch(0.3289 0.0092 268.3843);
	--sidebar-ring: oklch(0.623 0.214 259.815);
	--hu-background: hsl(0, 0%, 7%);
	--hu-foreground: hsl(0, 0%, 100%);
	--hu-card: hsl(0, 0%, 9%);
	--hu-card-foreground: hsl(0, 0%, 100%);
	--hu-primary: hsl(235, 100%, 60%);
	--hu-primary-foreground: hsl(0, 0%, 98%);
	--hu-secondary: hsl(0, 0%, 15%);
	--hu-secondary-foreground: hsl(0, 0%, 100%);
	--hu-muted: hsl(0, 0%, 15%);
	--hu-muted-foreground: hsl(0, 0%, 71%);
	--hu-accent: hsl(0, 0%, 15%);
	--hu-accent-foreground: hsl(0, 0%, 100%);
	--hu-destructive: hsl(0, 84%, 50%);
	--hu-destructive-foreground: hsl(0, 0%, 98%);
	--hu-border: 0, 0%, 100%, 10%;
	--hu-input: 0, 0%, 100%, 5%;
	--hu-ring: hsl(0, 0%, 56%);
	--color-fd-background: hsl(var(--hu-background));
	--color-fd-card: hsl(var(--hu-background));
}

@theme inline {
	--breakpoint-2md: 56rem;
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-success: var(--success);
	--color-warning: var(--warning);
	--color-info: var(--info);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--header-height: 56px;
	--app-height: calc(100vh - var(--header-height));
	--app-width: min(80rem, calc(100vw - 3rem));
	--color-color-fd-card: var(----color-fd-card);
	--color-color-fd-background: var(----color-fd-background);
	--color-hu-ring: var(----hu-ring);
	--color-hu-input: var(----hu-input);
	--color-hu-border: var(----hu-border);
	--color-hu-destructive-foreground: var(----hu-destructive-foreground);
	--color-hu-destructive: var(----hu-destructive);
	--color-hu-accent-foreground: var(----hu-accent-foreground);
	--color-hu-accent: var(----hu-accent);
	--color-hu-muted-foreground: var(----hu-muted-foreground);
	--color-hu-muted: var(----hu-muted);
	--color-hu-secondary-foreground: var(----hu-secondary-foreground);
	--color-hu-secondary: var(----hu-secondary);
	--color-hu-primary-foreground: var(----hu-primary-foreground);
	--color-hu-primary: var(----hu-primary);
	--color-hu-card-foreground: var(----hu-card-foreground);
	--color-hu-card: var(----hu-card);
	--color-hu-foreground: var(----hu-foreground);
	--color-hu-background: var(----hu-background);
	--card-radius: var(----card-radius);
	--radius: var(----radius);
	--hu-font-jetbrains: var(----hu-font-jetbrains);
	--hu-font-geist: var(----hu-font-geist);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
	a,
	button {
		@apply cursor-pointer;
	}
}

@layer utilities {
	.max-w-app {
		@apply max-w-[var(--app-width)];
	}
	.min-h-app {
		@apply min-h-[var(--app-height)];
	}
	.h-app {
		@apply h-[var(--app-height)];
	}
	.table {
		@apply divide-border divide-y;
		thead {
			@apply bg-muted;
			tr {
				th {
					@apply px-6 py-3 text-left text-xs font-medium tracking-wider uppercase max-lg:px-2 max-lg:first:pl-6 max-lg:last:pr-6;
				}
			}
		}
		tbody {
			@apply divide-border bg-card divide-y;
			tr {
				@apply hover:bg-background;
				td {
					@apply px-6 py-4 text-sm whitespace-nowrap max-lg:px-2 max-lg:first:pl-6 max-lg:last:pr-6;
				}
			}
		}
	}
}
